# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
env/
ENV/
lib/
lib64/
bin/
include/
pyvenv.cfg

# ---- Django ----
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# ---- Environment files ----
.env
.env.*
*.secret

# ---- PostgreSQL / Docker ----
pgdata/
*.sql
*.sql.gz
docker-compose.override.yml
.docker/
.dockerignore

# ---- IDE / Editor ----
.vscode/
.idea/
*.swp
*.swo

# ---- OS Files ----
.DS_Store
Thumbs.db